.head{
    background-color: rgb(222, 228, 226);
    margin: 5px;
    border-radius: 200px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    float: left;
    display: inline-flex;
    
}